:root{
    --blue: #2018CB;
    --white: #FFFFFF;
    --white2: #FBFBFB;
    --black: #000000;
    --main-font: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: var(--white2);
    letter-spacing: 0.1rem;
}

img{
    width: 100%;
}

html{
    scroll-behavior: smooth;
    font-size: 16;
}

body{
    font-family: var(--main-font);
}