header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img{
    width: 12vw;
}

header nav{
    width: 70%;
}

.header-list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 3rem;
    padding: 2rem;
    font-size: 1.2rem;
}

.header-hero{
    color: var(--blue);
    font-weight: 500;
    border: 1.5px solid;
    border-radius: 30px;
    padding: 1rem;
}

.header-hero:hover{
    color: var(--white2);
    background: var(--blue);
    transition: 0.3s;
}