:root{
    --blue: #2018CB;
    --white: #FFFFFF;
    --white2: #FBFBFB;
    --black: #000000;
    --main-font: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: var(--white2);
}

img{
    width: 100%;
}

html{
    scroll-behavior: smooth;
    font-size: 16;
}

body{
    font-family: var(--main-font);
}

/* ------------------------ Header ------------------------ */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 5px 0px 5px;
    height: 5vh;
    
}

.header-logo{
    max-height: 100px;
}

header nav{
    width: 100%;
}

.header-list{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
}

.header-list-about{
    color: var(--black);
}

.header-list-about:hover{
    color: var(--blue);
    transition: 0.3s;
    font-weight: 500;
}

.header-list-work{
    color: var(--black);
}

.header-list-work:hover{
    color: var(--blue);
    transition: 0.3s;
    font-weight: 500;
}

.header-hero{
    color: var(--blue);
    font-weight: 500;
    border: 1.2px solid;
    border-radius: 30px;
    padding: 7px;
}

.header-hero:hover{
    color: var(--white2);
    background: var(--blue);
    transition: 0.3s;
}

/* ------------------------ Main ------------------------ */

.main-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.main-title{
    font-size: 1.7rem;
    font-weight: 1000;
}

.main-img{
    max-width: 200px;
}

.main-title{
    padding: 2rem;
}

.main-vision{
    font-size: 1.2rem;
    font-weight: 400;
}

/* ------------------- About ------------------- */

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

/* ------------------------ Media query ------------------------ */
/* ------------------- Base ------------------- */

@media screen and (min-width: 576px){
    .section-cim{
      font-size: 2.5rem;
    }
  }

/* ------------------- Header ------------------- */

@media screen and (min-width: 576px){
    .header-list{
        font-size: 1.5rem;
        gap: 1.5rem;
    }
    .header-logo{
        max-height: 150px;
    }
}

@media screen and (min-width: 768px){
    .header-list{
        font-size: 2rem;
        gap: 1.5rem;
        margin: 2rem;
    }

    .header-logo{
        max-height: 200px;
    }
}

/* ------------------- Main ------------------- */

@media screen and (min-width: 576px){
    .main-title{
        font-size: 2rem;
        font-weight: 1000;
    }

    .main-vision{
        font-size: 1.5rem;
    }

    .main-img{
        max-width: 250px;
    }
}

@media screen and (min-width: 768px){
    .main-title{
        font-size: 2.5rem;
        font-weight: 1000;
    }

    .main-vision{
        font-size: 2rem;
    }

    .main-img{
        max-width: 300px;
    }
}

/* ------------------- About ------------------- */

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}

/* ------------------- Work ------------------- */

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}

/* ------------------- Portfolio ------------------- */

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}

/* ------------------- Contact ------------------- */

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}

/* ------------------- Footer ------------------- */

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}